.pdf 
{
        width: 80%;
        aspect-ratio: 4 / 3;
        height: 600px;
        
        margin-left: 10%;
}

.draft-title 
{      
    text-align: center;    
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    
    color:rgb(8, 168, 16);
}
