#affirmation-div 
{
    text-align: center;
    font-size: 26px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(171, 214, 230);

    padding: 8px;
    background: rgb(96, 114, 255);
    border: 4px solid rgb(255, 120, 96);

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 14px;

}