.meeting-li
{
    border: 3px solid rgb(247, 77, 105);
    border-radius: 7px;
    padding: 4px;
    margin: 10px;
    width: 80%;

    list-style-type: none;
    background: linear-gradient(to left, rgb(235, 152, 166), rgb(233, 168, 49))
    
}

.meeting-notes 
{
    font-size: 11px;
    margin-left: 6px;

    border: 2px solid rgb(238, 84, 109);
    background: rgb(235, 152, 166);
    width: 50%;
    padding: 5px;
}