.assignment-li
{
    border: 3px solid green;
    padding: 4px;
    margin: 10px;
    width: 80%;

    list-style-type: none;
    background: linear-gradient(to right, #34eb89, #7e69f5);
    border-radius: 7px; 
}